//
// VARIABLES
//

// Colors
$blue: #008B8B; // Teal accent

// Grays
$black: #111;
$darkerGray: #222;
$darkGray: #2c3e50; // Midnight Blue
$gray: #7f8c8d;
$lightGray: #ecf0f1;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}